<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Antigua Burguer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <p th:text=" 'Hola, '+${cashier} + '!'">
          <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <form action="#" th:action="@{/desayunos}" th:object="${cashier1}" method="post">
                    <button  type="submit" class="btn btn-primary" id="btn-desayuno" name="btn-desayuno" >Desayuno</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="#" th:action="@{/almuerzos}" th:object="${cashier1}" method="post">
                    <button  type="submit" class="btn btn-primary" id="btn-almuerzo" name="btn-almuerzo" >Almuerzo</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="#" th:action="@{/Cenas}" th:object="${cashier1}" method="post">
                    <button  type="submit" class="btn btn-primary" id="btn-cena" name="btn-cena" >Cena</button>
                </form>
            </li>
          </ul>
      </div>
    <div>
        <form>
            <div class="form-check-inline" id="form-cena-1">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center active">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="op-cena" id="op-cena" th:field="*{opcion}" th:value="'cena'" th:text="${combo} + ' (Q.' + ${precio} + '.00)'">
                    </label>
                    <span class="badge badge-secondary badge-pill"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    - Huevos
                    <span class="badge badge-secondary badge-pill"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    - Frijoles
                    <span class="badge badge-secondary badge-pill"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    - Tortillas
                    <span class="badge badge-secondary badge-pill"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    - Bebida
                    <span class="badge badge-secondary badge-pill"></span>
                </ul>
            </div>
        </form>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <footer>
      <p>Así es, mi creatividad esta por los suelos... Antigua Burger&copy;</p>
  </footer>
</html>